//color
$cl-white-0: #f5f5f5;
$cl-white-1: #ffffff;

$cl-gray-0: #c4c4c4;
$cl-gray-1: #717171;
$cl-gray-2: gray;

$cl-black-0: black;
$cl-black-1: #1a1c1e;
$cl-black-2: #121416;
$cl-black-3: rgba(0, 0, 0, 0.7);

//font-size
$fs-0: 1.4rem;
$fs-1: 1.8rem;
$fs-2: 2.4rem;
$fs-3: 4rem;
$fs-4: 6rem;

//padding
$pd-0: 5px;
$pd-1: 10px;
$pd-2: 15px;
$pd-3: 20px;
$pd-4: 25px;
$pd-5: 30px;
$pd-6: 35px;
$pd-7: 50px;
$pd-8: 100px;
//margin
$mg-0: 5px;
$mg-1: 10px;
$mg-2: 15px;
$mg-3: 20px;
$mg-4: 25px;
$mg-5: 30px;
$mg-6: 35px;
$mg-7: 60px;
